$bg1: #194b7f;
$bg2: #b88cb7;
$white: #fff;
$lightblue: #749ae3;
$lilac: #696c9b;
$black: #000;
$mattblue: #566495;
$mattlightblue: #a3b1cd;
$darkgrey: #2a2b30;
$lightpink: #cda3a3;
$verylightgrey: #ececec;
$grey: #979797;
$lightgrey: #d0d0d0;
$lightblack: #333333;
$dateTextColor: #575757;
$todoInCal: #dadfe6;
$dayNull: #e6eaef;
$todoInCalActive: #7989b4;
$arrowDate: #335588;
