::-webkit-input-placeholder {color:$mattblue; font-size: 16px; font-weight: 400; color: $mattblue;}
::-moz-placeholder          {color:$mattblue; font-size: 16px; font-weight: 400; color: $mattblue;}
:-moz-placeholder           {color:$mattblue; font-size: 16px; font-weight: 400; color: $mattblue;}
:-ms-input-placeholder      {color:$mattblue; font-size: 16px; font-weight: 400; color: $mattblue;}