<div class="row">
    <div class="col-md-4 col-sm-12">
        <div ng-click="openProfile()" class="home-panel">
            <span class="icon-container"><img src="./img/profile.svg"></span>
            <span class="label-home-panel">Профиль</span>
        </div>
    </div>

        <div class="col-md-4 col-sm-12">
        <div ng-click="openTasks()" class="home-panel">
            <span class="icon-container"><img src="./img/todolist.svg"></span>
            <span class="label-home-panel">Дела</span>
        </div>
    </div>

        <div class="col-md-4 col-sm-12">
        <div ng-click="openCalendar()" class="home-panel">
            <span class="icon-container"><img src="./img/calendar.svg"></span>
            <span class="label-home-panel">Календарь</span>
        </div>
    </div>

</div>



